<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Contar Dinamico</title>
    </head>

    <body>
        <h1>Cuenta letras</h1>
        <h2>En la palabra '{{palabra}}' aparece {{cantidad}} veces el caracter {{letra}}</h2>
        <h2><a href='/'>Volver al inicio</a></h2>
    </body>
</html>