<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio Dinamico</title>
</head>

<body>
    <h1>Mi nombre es {{nombre}}</h1>
    <ul>
        <h2>Paginas</h2>
        <li>Para poder hacer potencias poner en la url: /potencia/[base]/[exponente]
            <a href="potencia/10/2">
                <h4>Ejemplo</h4>
            </a></li>
        <li>Para poder ver cuantas veces aparece una letra en una palabra, poner la siguiente url: /cuenta/[palabra]/[letra]
            <a href="cuenta/hooooooola/o">
                <h4>Ejemplo</h4>
            </a></li>
        <li>Para poder ver el autor y el titulo de un libro con un codigo, poner la siguiente url: /libro/[codigo]
            <a href="libro/123">
                <h4>Ejemplo</h4>
            </a></li>
        <ul>
</body>

</html>