<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Libros dinamico</title>
    </head>

    <body>
        <h1>Biblioteca</h1>
        <h2>El autor es {{nombre_autor}} y escribio {{nombre_libro}}</h2>
        <h2><a href='/'>Volver al inicio</a></h2>
    </body>
</html>