<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Potencias Dinamico</title>
    </head>

    <body>
        <h1>Calcular potencia</h1>
        <h2>{{base}}^{{exponente}}={{resultado}}</h2>
        <h2><a href='/'>Volver al inicio</a></h2>
    </body>
</html>